.bundle

.env.production

apps/basechurch/build
apps/basechurch/coverage

apps/basechurch/db/*.sqlite3
apps/basechurch/db/*.sqlite3-journal
apps/basechurch/log/*.log
apps/basechurch/tmp
apps/basechurch/bin
apps/basechurch/doc
apps/basechurch/public

production-secrets.yml
development-secrets.yml
staging-secrets.yml

dump.rdb
