<!DOCTYPE html>
<html>
<head>
  <title>Basechurch</title>
  <%= stylesheet_link_tag    "basechurch/application", media: "all" %>
  <%= javascript_include_tag "basechurch/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
